:root {
  --background-color: #fff;
  --color-primary: #4169e1;
  --color-white: #fff;
  --color-text: #333;
  --color-black: #181818;
  --color-gray: #f2f2f2;
  --color-gray-darker: #dedede;
  --shadow-small: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.05);
  --shadow-medium: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.1);
  --shadow-large: 0 10px 20px rgba(0, 0, 0, 0.15), 0 3px 6px rgba(0, 0, 0, 0.1);
  --wrapper-padding: 0px 32px;
  --border-radius-small: 4px;
  --border-radius-big: 8px;
  --border-radius-semi-rounded: 25px;
  --border-radius-rounded: 50px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  color: var(--color-text);
}

body.no-scroll {
  overflow: hidden;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 24px;
}

p {
  font-size: 16px;
}

a {
  text-decoration: none;
}

.wrapper-padding {
  padding: var(--wrapper-padding);
}

.content-wrapper {
  min-height: calc(100vh - 56px);
}

.d-flex,
.align-items-center,
.justify-content-center,
.justify-content-between,
.gap-2,
.gap-3 {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.gap-2 {
  gap: 8px;
}

.gap-3 {
  gap: 12px;
}

.text-center {
  text-align: center;
}

.buttons,
.primary-cta {
  border-radius: var(--border-radius-small);
  text-decoration: none;
  padding: 10px 16px;
  outline: none;
  border: 1px solid var(--color-primary);
  font-size: 16px;
  cursor: pointer;
}

.primary-cta {
  background-color: var(--color-primary);
  color: var(--color-white);
}

.primary-highlight,
.primary-link {
  color: var(--color-primary);
}

.primary-link {
  text-decoration: underline;
}

.mt-1 {
  margin-top: 4px;
}

.mt-2 {
  margin-top: 8px;
}

.mt-3 {
  margin-top: 12px;
}

.mt-4 {
  margin-top: 16px;
}

.px-4 {
  padding-top: 24px;
  padding-bottom: 24px;
}

.w-100 {
  width: 100%;
}

.footer a {
  z-index: 997;
}
