.hero {
  flex-direction: column;
}

input,
textarea {
  background-color: transparent;
  padding: 10px 16px;
  outline: none;
  border: 1px solid var(--color-gray);
  transition: 0.3s;
}

input:hover,
textarea:hover {
  border: 1px solid var(--color-gray-darker);
}

input:focus,
textarea:focus {
  border: 1px solid var(--color-primary);
}

.forms {
  min-height: calc(100vh - 56px);
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 12px;
}
